# Dependencies
node_modules

# Build output
dist

# Development
*.log
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
__tests__

# Documentation
*.md
!README.md
